/* DEVELOPER: Raja'a Humaidi, IS117-003, Fall 2022*/
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html {
    background-color: white;
}


.”home”{
    margin: 1px;
    padding-top: 300px;
    background-color: aliceblue;
}
.homepage{
    align-content: end;
}
/*header style*/
#nav_menu {
    position: relative;
    right: 11px;
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: right;
    font-size: .8rem;
    padding-top: 30px;
}
.navigation{
    position: relative;
}
#nav_menu ul ul {
    display: inline-block;
    position: relative;
    top: 100%;
}
#nav_menu ul li a {
    width: 40px;
    color: black;
}
#nav_menu ul li {
    list-style: none;
    margin: 1px 15px;
    display: inline-block;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*cards*/
.card{
    background-color: lightsteelblue;
    display: inline-block;
    box-shadow: 1em 1em  1em;
    position: relative;

}
.card {
    margin: 8% auto;
    margin-left: 20%;

}
.card-img-top {
    width: 100%;
    height: 15pc;
    object-fit: inherit;
}

/*about me page*/
.container{
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: lightsteelblue;
    border-color: #b6d4fe;
    margin-bottom: 8%;
    text-indent: 50px;
    border-radius: 10px;
}


/*my objectives page*/
.container1{
    background-color: white;
    border: 100px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: relative;
    left: 0;
    width: 60%;
    resize: vertical;
}

#objectives{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0;
    margin-left: 0;
    background-color: lightsteelblue;
    display: block;
    position:sticky;

}

/*resume*/
#resume{
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 1px;
    margin-left: 0;

}
#resume{
    background-color: lightsteelblue;
}
.myresume{
    margin-bottom: 60px;
    margin-right: 25%;
    margin-left: 25%;
    size: auto;

}

/*contact*/
.contact-title{
    background-color: lightsteelblue;
    box-sizing: border-box;
    width: 40%; /* Full width */
    padding: 12px; /* Some padding */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical;
    margin-left: 10px;
    position: relative;
}
#contact {
    background-color: lightsteelblue;
}
.contact-text{
    display:inline-block;
    margin: 10px;
    border-radius: 8px;
    background-color: white;
    padding: 33px;

}



/*form*/
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid lightsteelblue; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: steelblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: lightsteelblue;
}

/* Add a background color and some padding around the form */
.container3 {
    border-radius: 8px;
    background-color: white;
    padding: 25px;
}
#icons{

    margin: auto;
    border: 1px solid lightsteelblue;
    border-radius: 10px;
    width: 150px;
    letter-spacing: 4px;
    background-color: lightsteelblue;
    text-align: center;
}





/*titles*/
h2{
    background-color: #9ab2d7;
    display: block;
    margin: 40px;
    width: 230px;
    position: sticky;

}

/*footer style*/
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: .8rem;
}